.App {
  text-align: center;
}

h1 {
  
}

.drawer-wrapper {
  background-color: slategrey;
  width: 20vw;
  height: 50vh;
}

.header-line {
  height: 5px;
  width: 100%;
  background-color: black;
  /* position: relative; */
}