html body {
	padding: 0;
	margin: 0;
	overflow-y: hidden;
	overscroll-behavior-y: contain;
}

.App {
  text-align: center;
}

h1 {
	margin: 0;
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	top: -20px;
	left: 0%;
}

.title-wrapper {
	position: sticky;
	background-image: linear-gradient(
		100deg, rgb(255, 0, 0) 10%, white 100%
	);
	text-align: center;
	height: 10%;	
}

.title {
	background: url(/src/Gifs/Pika-Wave.gif) no-repeat;
	background-size: 10vw;
	width: 100vw;
}

.header-line {
	height: 5px;
	width: 100%;
	background-color: black;
}

/* Side panel for top voted pokemon */
.drawer-wrapper {
	background-image: linear-gradient(
	210deg, rgb(255, 255, 255) 10%, rgba(255, 0, 0, 0.89) 100%
	);
	width: 20%;
	height: 70%;
	position: absolute;
	top: 25%;
	right: 2%;
	border: 4px solid;
	border-radius: 20px;
	margin-left: 10px;
	overflow-y: hidden;
	overscroll-behavior-y: contain;
}

.background-wrapper {
	background: url(/src/images/kantoMap.webp);
	min-height: 100%;
	min-width: 100%;

	background-attachment: sticky;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	scroll-snap-type: y mandatory;
	scroll-padding-top: 2%;
	/* padding-top: -200px; */
}

/* .background-wrapper:active {
	background: radial-gradient(circle at 90% 5%, rgba(123,123,123,1) 0%, rgba(50,50,50,1) 26%, rgba(123,123,123,1) 52%);
} */

.structure-flex {
	display: flex;
	border: 5px solid rgba(255, 255, 255, 0);
	height: 100vh;
}

.box1 {
	background: rgba(255, 255, 255, 0);
	flex: 3;
	height: 100%;
	padding-bottom: 100px;
}

.box2 {
	background: rgba(255, 255, 255, 0);
    flex: 1;
	overflow: hidden;
}

.poke-member-container {
	display: grid;
    grid-template-columns: repeat(2, 1fr);
  	gap: 5px;
	grid-auto-rows: 250px;
	grid-row: 1 3;
	height: 1025vh;
	margin-top: 140px;
	overflow: hidden;
}

.lottie-placeholder {
	height: 10%;
}

.shiny-toggle {
	position: absolute;
	top: 3vh;
	left: 15vw;
	border: 2px groove whitesmoke;
	border-radius: 40px;
	width: 15%;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.shiny-toggle-btn {
	margin-right: 15px;
}

input:checked + .shiny-toggle:before {
	width: 50%;
}

.shiny-toggle-btn img{
	position: fixed;
	margin-left: 5px;
	margin-right: 5px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	z-index: 1;
	left: 10%;
	margin-right: 10px;
}
  
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 20px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 20px;
}

input:checked + .slider {
	background-color: rgb(121, 239, 200);
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}