.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  	gap: 10px;
	grid-auto-rows: minmax(50px, 350px);
	margin-top: 50px;
}

.poke-card-wrapper {
	display: flex;
	justify-content: center;
}

.poke-card {
	width: 80%;
	height: 90%;
	border: 5px solid;
	border-radius: 60px;
	display: flex;
	justify-content: center;
}